.body{
    -fx-background-color: white;
    -fx-background-radius: 5.0;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2),8.0,0.5,0.0,1);
    -fx-padding: 10 10 10 10;
}
.minBtn{
    -fx-background-color: transparent;
}
.minBtn:hover
{
    -fx-background-color: #B7B4B4;
}
.minBtn:pressed{
    -fx-background-color: #8B8B8B
}
.closeBtn{
    -fx-background-color: transparent;
    -fx-background-image: url("../icons/icons8_delete_30px.png");
    -fx-background-size: 20px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}
.closeBtn:hover{
    -fx-background-color:#ff0000;
    -fx-background-image: url('../icons/icons8_delete_30px_1.png');

}
.closeBtn:pressed
{
    -fx-background-color: #FF8383;
    -fx-background-image: url("../icons/icons8_delete_30px_1.png");

}
.background
{
    -fx-background-color: #99a3b0
}
